altgraph==0.17.4
greenlet==3.0.0
macholib==1.16.3
mysql-connector==2.2.9
mysql-connector-python==8.1.0
numpy==1.26.1
packaging==23.2
pandas==2.1.1
protobuf==4.21.12
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==2.0.22
typing_extensions==4.8.0
tzdata==2023.3
